body{
    text-align: center;
}
.clients-section{
    display: block;
}

.client-name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#client1, #client2, #client3 {
    width: 20%;
    height: 20%;
}
#client4{
    width: 180px;
    height: 180px;
}